h1 {
    color: orangered;
    font-family: 'Creepster', cursive;
    font-size: 400%;
    text-align: center;
}

h2 {
    color:whitesmoke;
    text-align: center;
    font-size: 200%;
}

h3 {
    color:whitesmoke;
    text-align: center;
}

body {
    background-color: black;
    text-align: center;
    width: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

img {
    width: 100%;
    height: auto;
}

input {
    float: right;
}

td {
    text-align: right;
    font-family: 'Libre Baskerville', serif;
    color: orangered;
    font-size: 100%;
}

button-align-center {
  color: green;
}

.container {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button {
  font-size: 32px;
  height: 50px;
  width: auto;
  align-self: center;
  cursor: pointer;
}

.spooky_story {
  color: white;
  font-size:x-large;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  position: relative;
  margin-top: 10px;
  width: 100%px;
  height: auto;
  padding-left: 20%;
  padding-right: 20%;
}